{% extends 'base.html' %}

{% block content %}
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>create account</h2>
                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <input type="hidden" name="next" value="{{next}}">
                {{form}}
            </div>
            <a class="text-info" href="{% url 'Login' %}"><i class="fa fa-user"></i>Login</a>
            <div class="col-lg-12 text-center">
            <button type="submit" class="site-btn">Create account</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}


