{% extends 'base.html' %}

{% block content %}

<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Issue Details</h2>
                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {{form}}
            </div>
        <div class="col-lg-12 text-center">
            <button type="submit" class="site-btn">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}


